VITE_SUPABASE_URL=https://ixjntaibwhjfibewullk.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4am50YWlid2hqZmliZXd1bGxrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDM2OTEzNCwiZXhwIjoyMDk5OTQ1MTM0fQ.3NNPRBhG6hfTbk498VRAyJDnORTB-It2Ou_WHAESTXo
