@import "tailwindcss";

*{
    font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior:smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #0B0F19;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}